body {
  font-family: Arial, sans-serif;
  background-color: #edf1ff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #97bec7;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}


button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #06b2a7;
  color: #fff;
  border: none;
  cursor: pointer;
}

main {
  padding: 20px;
}

#current-weather {
  margin-bottom: 60px;
  border: 5px solid black; /* Replace "black" with your desired border color */
}

.forecast-entry {
  display: inline-block;
  width: calc(20% - 20px);
  margin: 5px;
  padding: 5px;
  background-color: #93dfd8;
  border-color: black;
  text-align: center;
}

.forecast-day h2 {
  margin: 0;
}

.forecast-day p {
  margin: 5px 0;
}

#search-history {
  margin-top: 10px;
}

#search-history button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #cbfbf4;
  color: #050061;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#search-history button.nav-button {
  background-color: #0698b2;
  color: #fff;
}

/* Weather Icons */
.weather-emoji {
  font-size: 48px;
  display: inline-block;
}

/* Add specific classes for each weather icon */
.wi-day-sunny:before {
  content: "\f00d";
}

.wi-day-cloudy:before {
  content: "\f002";
}

/* Add the remaining weather icons here */
/* Replace the content value with the appropriate unicode for each icon */
